<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net452" />
  <package id="jQuery" version="3.3.1" targetFramework="net452" />
  <package id="Microsoft.AspNetCore.Authentication.Facebook" version="1.1.1" targetFramework="net452" />
  <package id="Microsoft.AspNetCore.Authentication.Google" version="1.1.1" targetFramework="net452" />
  <package id="Microsoft.AspNetCore.Authentication.OAuth" version="1.1.1" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="2.7.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="140.1000.523" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="popper.js" version="1.14.1" targetFramework="net452" />
</packages>
